<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/suggested-games" method="get">
    <input type="text" name="query" placeholder="Search">
    <button type="submit">Search</button>
</form>
