<h1>{{title}}</h1>
<p>Search your steam id here!</p>
<p>Ensure that the steam id you enter has it profile on public otherwise data will not be accessible.</p>
<form action="/suggested-games" method="get">
    <input type="text" name="query" placeholder="Search">
    <button type="submit">Search</button>
    <p>This page has been visited {{counter}} times.</p>
</form>
